In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

In [57]:
df_test = pd.read_csv('test.csv')

In [86]:
df_test

,CP_code,MtM,PoE,CS_PoE,Maturity,flg,2018/7/21,2018/7/22,2018/7/23,2018/9/30,...,2019/12/30,2020/12/30,2021/12/30,2022/12/30,2023/12/30,2025/12/30,2027/12/30,2029/12/30,2034/12/30,apply_PoE
0,10001,100987,2.000000e+01,1,2018/9/25,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.000000e+01
1,10002,1000974,7.709800e+04,30,2019/3/20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000e+01
2,10003,-86897,8.986977e+09,900000,2020/5/20,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8.986977e+09
3,10004,-4510973,1.098100e+11,39999,2030/3/30,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.999900e+04
4,10005,77688750,9.986066e+09,20,2026/7/4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9.986066e+09

In [85]:
df_test['apply_PoE'] = df_test[['flg', 'PoE', 'CS_PoE']].apply(lambda x: x[2] if x[0] == 0 else x[1], axis=1)

In [84]:
df_test[['flg', 'PoE', 'CS_PoE']].apply(lambda x: x[1], axis=1)

0    2.000000e+01
1    7.709800e+04
2    8.986977e+09
3    1.098100e+11
4    9.986066e+09
dtype: float64

In [95]:
df_aggregation_grid = pd.DataFrame(df_test.columns[6:-1])
df_aggregation_grid.head()

            0
0   2018/7/21
1   2018/7/22
2   2018/7/23
3   2018/9/30
4  2018/12/30

In [110]:
for i in range(len(df_aggregation_grid)):
    df_test[df_aggregation_grid[0][i]] = df_test[['Maturity', 'apply_PoE']].apply(lambda x: x[1] if (str_to_dt_obj(x[0]) > str_to_dt_obj(df_aggregation_grid[0][i])) else 0, axis=1)

In [111]:
df_test

,CP_code,MtM,PoE,CS_PoE,Maturity,flg,2018/7/21,2018/7/22,2018/7/23,2018/9/30,...,2019/12/30,2020/12/30,2021/12/30,2022/12/30,2023/12/30,2025/12/30,2027/12/30,2029/12/30,2034/12/30,apply_PoE
0,10001,100987,2.000000e+01,1,2018/9/25,1,2.000000e+01,2.000000e+01,2.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0,2.000000e+01
1,10002,1000974,7.709800e+04,30,2019/3/20,0,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0,3.000000e+01
2,10003,-86897,8.986977e+09,900000,2020/5/20,2,8.986977e+09,8.986977e+09,8.986977e+09,8.986977e+09,...,8.986977e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0,8.986977e+09
3,10004,-4510973,1.098100e+11,39999,2030/3/30,0,3.999900e+04,3.999900e+04,3.999900e+04,3.999900e+04,...,3.999900e+04,3.999900e+04,3.999900e+04,3.999900e+04,3.999900e+04,3.999900e+04,39999.0,39999.0,0,3.999900e+04
4,10005,77688750,9.986066e+09,20,2026/7/4,1,9.986066e+09,9.986066e+09,9.986066e+09,9.986066e+09,...,9.986066e+09,9.986066e+09,9.986066e+09,9.986066e+09,9.986066e+09,9.986066e+09,0.0,0.0,0,9.986066e+09

In [89]:
aggregation_grid = df_test.columns[6:]
len(aggregation_grid)

15

In [60]:
for i in range(6, 6+len(aggregation_grid)):
    df_test[df_test.columns[i]] = 0

In [61]:
pd.to_datetime(df_test['Maturity'])

0   2018-09-25
1   2019-03-20
2   2020-05-20
3   2030-03-30
4   2026-07-04
Name: Maturity, dtype: datetime64[ns]

In [62]:
def str_to_dt_obj(str):
    return datetime.datetime.strptime(str, '%Y/%m/%d')